* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #222;
  color: beige;
}

.App header {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.App h1 {
  text-align: center;
  font-size: 36px;
  color: #c1f590;
  line-height: 1.3;
}

@media (max-width: 600px) {
  .App {
    padding: 30px 15px;
  }

  .App h1 {
    font-size: 28px;
  }
}
